* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .game__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
  }

.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: cadetblue;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;

}

  .home_hidden {
    display: none;
  }

  .home__scores {
    flex: 2 0 0;
  }

  .home__settings {
    flex: 3 0 0;
  }


.game-state {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: chartreuse;
}

  .game-state_hidden {
    display: none;
  }

.game-state-placeholder {
  height: 100px;
  width: 100%;
}

.button-start {
  height: 60px;
  width: 100%;
  background-color: coral;
}
  .button-start_hidden {
    display: none;
  }


.button-pause {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 60px;
  width: 60px;
  background-color: coral;
}

  .button-pause_hidden {
    display: none;
  }

.game-timer {
  font-size: 24px;
  margin: 20px;
}

.grid {
  display: grid;
  /* grid-template-columns: ; */
  /* grid-template-rows: ; */
  column-gap: 20px;
  row-gap: 20px;

  margin: 50px;

}


.card {
  position: relative;
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backface-visibility: hidden;
  transition: transform .5s, opacity .5s;
}

.card__front {
  background-color: aqua;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__back {
  background-color: cornflowerblue;
}

.card_open .card__back {
  /* opacity: 0; */
  transform: rotateY(180deg);
}

.card_closed .card__front {
  /* opacity: 0; */
  transform: rotateY(180deg);
}

