body {
  /* height: 3000px; */
  margin: 0;
  padding: 0;

}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: lightpink;
}

.progress-bar__bar {
  position: relative;
  width: 0;
  height: 20px;

  background-color: darkred;

  transition: width 0.1s;

  z-index: 3;
}

.progress-bar__checkpoint {
  position: absolute;
  top: 0;
  width: 20px;
  height: 30px;
  background-color: lightpink;
  transform: translateX(-50%);
  z-index: 1;
}

.progress-bar__checkpoint_active {
  background-color: red;
}


h1 {
  margin: 0;
  padding: 21px;
}